*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
:root{
    --maincolor:#FB2E86;
}
