*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}
.container{
    width: calc(100% - 180px);
    margin: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
:root{
    --maincolor:#FB2E86;
    --mainfont:"Lato", sans-serif;
    --secfont:"Josefin Sans", sans-serif;
}
button{
    cursor: pointer;
}
a{
    cursor: pointer;
}

