/* body{
    height: 9000px;
} */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: var(--mainfont);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secfont);
}

.header {
    padding: 37px 0;
    /* position: fixed; */
    width: 100%;


}

.header .nav-home {
    color: var(--maincolor);
}

.header nav ul {
    display: flex;
    gap: 36px;
    font-family: "Lato", sans-serif;
    flex-wrap: wrap;


}

.header nav ul a {
    color: #0D0E43;
}

.header nav ul a {
    transition: color 1s;
}


.header nav ul i {
    font-size: smaller;

    color: var(--maincolor);
}

.header .search form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

.header .search form input {
    border: 0;
    padding: 0 30px;
}

.header .search form button {
    border: 0;
    padding: 9px 7px 5px 7px;
    background-color: var(--maincolor);
    cursor: pointer;
}

.header .search form {
    border: 1px solid #E7E6EF;

}

.menu {
    display: none;
}
@media screen and (max-width:1100px) {

    .header nav ul,
    .header .search form {
        display: none;

    }

    .menu {
        display: block;
        order: 1;
    }

}

@media screen and (max-width:600px) {
    .container {
        width: calc(100% - 70px);
    }

    /* .header .logo img {
        width: 70px;
    } */
}

@media screen and (max-width:600px) {
    .container {
        width: calc(100% - 30px);
    }
}

/* *{
    outline: auto;
} */
.hero {
    padding: 30px 0;
    background-color: #F2F0FF;
}

.hero .hero-content,
.hero-image {
    width: calc((100% - 60px)/ 2);

}
.hero .hero-content{
    flex-grow: 1;
    max-width: 65%;
}
.hero .hero-image{
    width: 30%;
}
/* .hero .row {

    justify-content: center;
    align-items: center;
    gap: 60px;

} */

.hero .hero-content {
    display: flex;
}
.hero .hero-content .hero-text{
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: self-start;
}

.hero .subtitle {
    font-weight: 700;
    font-size: 18px;
    color: var(--maincolor);
    width: fit-content;
}

.hero .title {
    font-size: 55px;
    font-weight: 370;
    line-height: 1.6;
    /* width: 640px; */
}

.hero .hero-para {
    color: #8A8FB9;
}

.hero .hero-image img {
    width: 100%;
    
}


.hero .hero-content a {
    border: 1px solid var(--maincolor);
    width: fit-content;
    background-color: var(--maincolor);
    padding: 10px 24px 14px;
    color: white;
    border-radius: 5px;
}
.hero .hero-content .hero-lamp img{
position: relative;
bottom: 30px;
animation: slideinfrombuttom 2s;
}
@keyframes slideinfrombuttom{
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}





.Featured-Products {
    padding: 30px 0;
    font-family: "Josefin Sans", sans-serif;
}

.Featured-Products h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #1A0B5B;

    font-size: 30px;
}

.Featured-Products h3 {
    color: var(--maincolor);
}

.Featured-Products span {
    color: #151875;
}

.Featured-Products .row {
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.Featured-Products .product {
    width: calc((100% - 60px) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    gap: 15px;
    border-radius: 10px;
}


.Featured-Products .product .product-img {
    width: 100%;
    height: 280px;
    background-color: #F6F7FB;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.product .product-items i {
    font-size: 20px;
    color: #1DB4E7;
    cursor: pointer;
    transition: 0.3s;

}

.product .product-items {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 18px;
    left: 15px;
    display: none;
}

.product .view-details {
    background-color: #08D15F;
    color: #F6F7FB;
    padding: 12px 20px;
    font-size: 13px;
    border-radius: 4px;
    text-align: center;
    bottom: 10px;
    position: absolute;
    display: none;
}

.Featured-Products .product:hover .view-details,
.Featured-Products .product:hover .product-items {
    display: block;
}

.Featured-Products .product:hover {
    background-color: #2F1AC4;

}

.Featured-Products .product:hover .product-details span,
.Featured-Products .product:hover .product-details h3 {
    color: white;

}


.Featured-Products .product .product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
}


.btn-color {
    display: flex;
    gap: 5px;
}

.btn-color button {
    width: 18px;
    height: 5px;
    border: 0;
    border-radius: 4px;

}

.color-green {
    background-color: #05E6B7;
}

.color-pink {
    background-color: #F701A8;
}

.color-blue {
    background-color: #00009D;
}

.color-white {
    background-color: #FFEAC1;
}

@media screen and (max-width:1000px) {
    .Featured-Products .product {
        width: calc((100% - 60px) / 2);
    }
}

@media screen and (max-width:700px) {
    .Featured-Products .product {
        width: calc((100% - 60px) / 1);
    }

    .Featured-Products h2 {
        margin-bottom: 30px;
        font-size: 28px;
    }
}

@media screen and (max-width:500px) {
    .Featured-Products .product {
        width: 100%;
    }

    .Featured-Products h2 {
        margin-bottom: 25px;
        font-size: 25px;
    }
}

.Shopex-offers{
    padding: 40px 0;
    text-align: center;
}

.Shopex-offers h2{
    margin-bottom: 35px;
        color: #151875;
font-family: var(--secfont);
font-weight: 700;
font-size: 32px;
}

.Shopex-offers .row{
gap: 30px;
}

.Shopex-offers .item-offer{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: calc((100% - 90px) / 4);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    padding: 40px 15px;
}


.Shopex-offers .item-offer .info-offer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Shopex-offers .item-offer h3{
    color: #151875;
    font-family: var(--secfont);
    font-weight: 700;
}
.Shopex-offers .item-offer p{
    color: #8A8FB9;
    line-height: 40px;
    font-family: var(--mainfont);
}

@media screen and (max-width:1000px) {
  .Shopex-offers .item-offer{
    gap: 15px;
    width: calc((100% - 30px) / 2);
    padding: 30px 15px;
}  
}
@media screen and (max-width:700px) {
  .Shopex-offers .item-offer{
    gap: 15px;
    width: 100%;
    
    padding: 40 0px;
    
}  
.Shopex-offers .row{
gap: 20px;
}
.Shopex-offers h2{
margin-bottom: 30px;
        font-size: 28px;    
}
@media screen and (max-width:500px) {


    .Shopex-offers h2 {
        margin-bottom: 20px;
        font-size: 25px;
        
    }
}

}
.Trending-Products{
padding: 40px 0px;
}
.Trending-Products h2{
    text-align: center;
    color: #151875;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 35px;
}
.Trending-Products .element{
    padding: 30px 0;
    width: calc((100% - 120px) / 4);
    /* max-width: 280px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.Trending-Products .element .element-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.Trending-Products .element .element-info .element-name p{
color: #151875;
font-family: var(--mainfont);
font-weight: 700;
font-size: 16px;
}
.Trending-Products .element .element-info .element-price{
    display: flex;
    gap: 15px;
    justify-content: center;
    font-family: var(--secfont);
    font-size: 14px;
}
.Trending-Products .element .element-info .element-price span:first-of-type{
    color: #151875;
}
.Trending-Products .element .element-info .element-price span:last-of-type{
    color: rgba(21, 24, 117, 0.3);
    text-decoration: line-through;
}

@media screen and (max-width:1380px) {
    .Trending-Products .element{
    padding: 20px 0;
    gap: 5px;
}
}
@media screen and (max-width:1350px) {
        .Trending-Products .element{
            width: calc((100% - 36px) / 4);
}
.Trending-Products .row{
    justify-content: center;
    gap: 12px;
}
}
@media screen and (max-width:1250px) {
        .Trending-Products .element{
            width: calc((100% - 12px) / 2);
            max-width: 360px;
}
.Trending-Products .row{
    justify-content: center;
    gap: 12px;
}
}
@media screen and (max-width:700px) {
        .Trending-Products .element{
            width: 100%;
            max-width: 465px;
}
.Trending-Products h2{
    font-size: 30px;
    margin-bottom: 25px;
}
.Trending-Products .element img{
    width: 300px;
}
}
@media screen and (max-width:400px) {

.Trending-Products h2{
    font-size: 25px;
    margin-bottom: 15px;
}
.Trending-Products .element img{
    width: 230px;
}
}


.Newslater {
    width: 100%;
    background-image: url(./../image/public/newlater.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* height: 300px; */
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.newsletter-banner .Newslater-Content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    align-items: center;
}

.newsletter-banner .Newslater-Content h2 {
    width: 400px;
    line-height: 32px;
    font-family: "Josefin Sans", sans-serif;
    color: #151875;
}

.newsletter-banner .Newslater-Content a {
    border: 1px solid var(--maincolor);
    width: fit-content;
    background-color: var(--maincolor);
    padding: 10px 24px 7px;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    border-radius: 5px;
}

@media screen and (max-width:650px) {
    .Newslater {
        height: 250px;
    }
}

@media screen and (max-width:500px) {
    .Newslater {
        height: 200px;
    }

    .newsletter-banner .Newslater-Content {
        gap: 13px;
    }
}

@media screen and (max-width:420px) {
    .Newslater {
        height: 170px;
    }

    .newsletter-banner .Newslater-Content h2 {
        width: 300px;
        line-height: 26px;
    }

    .newsletter-banner .Newslater-Content a {
        padding: 7px 18px 5px;
    }

}

.Leatest-Blog h2 {
    text-align: center;
    color: #151875;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 35px;

}

.Leatest-Blog {
    padding: 40px 0;
}

.Leatest-Blog .row {
    gap: 40px;
}

.Leatest-Blog .Blog-item {
    width: calc((100% - 80px) /3);
}

.Leatest-Blog .Blog-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding-bottom: 40px;

}

.Leatest-Blog .Blog-item:hover .Blog-content h3,
.Leatest-Blog .Blog-item:hover .Blog-content a {
    color: var(--maincolor);
}

.Leatest-Blog .Blog-item img {
    width: 100%;
    border-radius: 6px;
}

.Leatest-Blog .Blog-item .Blog-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;

}

.Leatest-Blog .Blog-item .Blog-content p {
    line-height: 30px;
    color: #72718F;
}

.Leatest-Blog .Blog-item .Blog-content .info {
    display: flex;
    gap: 30px;
}

.Leatest-Blog .Blog-item .Blog-content .info .pen {
    color: var(--maincolor);
}

.Leatest-Blog .Blog-item .Blog-content .info .calendar {
    color: #FFA454;
}

.Leatest-Blog .Blog-item .Blog-content h3,
.Leatest-Blog .Blog-item .Blog-content a,
.Leatest-Blog .Blog-item .Blog-content span {
    font-family: var(--secfont);
    color: #151875;

}

.Leatest-Blog .Blog-item .Blog-content a {
    text-decoration: underline;
    text-underline-offset: 3px;
}
@media screen and (max-width:1150px) {
.Leatest-Blog .Blog-item .Blog-content .info {
    
    gap: 16px;
}
    

}

@media screen and (max-width:1100px) {
.Leatest-Blog .Blog-item .Blog-content .info {
    
    flex-direction: column;
    gap: 10px;
}
    

}
@media screen and (max-width:1000px) {
.Leatest-Blog .Blog-item {
    gap: 10px;
    padding-bottom: 20px;

}
.Leatest-Blog .Blog-item .Blog-content {
    gap: 10px;
    padding: 0 10px;

}
 .Leatest-Blog .Blog-item .Blog-content p {
    line-height: 20px;
    
}   
.Leatest-Blog h2 {
    font-weight: 700;
    font-size: 30px;
}
.Leatest-Blog .Blog-item .Blog-content h3{
    font-size: 18px;
}

}
@media screen and (max-width:900px) {

    .Leatest-Blog .Blog-item {
    width: calc((100% - 40px) /2);
    
}

}
@media screen and (max-width:700px) {

    .Leatest-Blog .Blog-item {
    width: 100%;
    
}
.Leatest-Blog .Blog-item .Blog-content .info {
    flex-direction: row;
    gap: 25px;
}
.Leatest-Blog h2 {
    font-weight: 700;
    font-size: 26px;
}
}

.footer-start {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    width: 450px;
}

.footer .search form {
    display: flex;
    flex-wrap: wrap;

}

.footer .search form input {
    border: 0;
    padding: 0 30px;
}

.footer .search form button {
    border: 0;
    padding: 9px 7px 5px 7px;
    background-color: var(--maincolor);

}

.footer .search form {
    border: 1px solid #E7E6EF;

}

.span-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    color: #8A8FB9;
    flex-wrap: wrap;
}

.footer .row {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    flex-wrap: wrap;
}

.footer-end {
    display: flex;
    gap: 90px;
    flex-wrap: wrap;

}

.footer .footer-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;


}

.footer nav ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex-wrap: wrap;

}

.footer nav ul li {
    color: #8A8FB9;
}

.footer {
    padding: 80px 0;
    background-color: #EEEFFB;
    font-family: "Josefin Sans", sans-serif;
}




@media screen and (max-width:950px) {

    .footer {
        padding: 40px 0;


    }

    .footer-end {

        gap: 40px;


    }
}

@media screen and (max-width:652px) {

    .footer-start,
    .footer-end {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .footer .footer-item {
        width: 100%;
    }


}

@media screen and (max-width:450px) {


    .footer .search form input {
        border: 0;
        padding: 0 15px;
    }

    .footer .search form button {
        border: 0;
        padding: 5px 4px 3px 4px;
        background-color: var(--maincolor);

    }
}