/* body{
    height: 9000px;
} */
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
.header {
    padding: 37px 0;
    /* position: fixed; */
    width: 100%;

}

.header nav ul {
    display: flex;
    gap: 36px;
    font-family: "Lato", sans-serif;
    flex-wrap: wrap;


}

.header nav ul a {
    color: #0D0E43;
}

.header nav ul a {
    transition: color 1s;
}

.header nav ul:hover .nav-home {
    color: black;
}

.header nav ul a:hover {
    color: var(--maincolor);
}

.header nav ul .nav-home {
    color: var(--maincolor);
}

.header nav ul i {
    font-size: smaller;

    color: var(--maincolor);
}

.header .search form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
/* *{
    outline: auto;
} */
.header .search form input {
    border: 0;
    padding: 0 30px;
}

.header .search form button {
    border: 0;
    padding: 9px 7px 5px 7px;
    background-color: var(--maincolor);

}

.header .search form {
    border: 1px solid #E7E6EF;

}

.menu {
    display: none;
}

@media screen and (max-width:1100px) {

    .header nav ul,
    .header .search form {
        display: none;

    }

    .menu {
        display: block;
        order: 1;
    }

}

@media screen and (max-width:600px) {
    .container {
        width: calc(100% - 70px);
    }

    .header .logo img {
        width: 70px;
    }
}

@media screen and (max-width:600px) {
    .container {
        width: calc(100% - 30px);
    }
}

.footer-start{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
width: 450px;
}

.footer .search form {
    display: flex;
    flex-wrap: wrap;

}

.footer .search form input {
    border: 0;
    padding: 0 30px;
}

.footer .search form button {
    border: 0;
    padding: 9px 7px 5px 7px;
    background-color: var(--maincolor);

}

.footer .search form {
    border: 1px solid #E7E6EF;

}
.span-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    color: #8A8FB9;
}
.footer .row{
    display: flex;
    justify-content: flex-start;
gap: 50px;
}
.footer-end{
   display: flex; 
   gap: 90px;
}
.footer .footer-item{
    display: flex;
    flex-direction: column;
    gap: 30px;
       
}

.footer nav ul{
display: flex;
    flex-direction: column;
    gap: 18px;
}
.footer nav ul li{
    color: #8A8FB9;
}
.footer{
    padding: 80px 0;
    background-color: #EEEFFB;
    font-family: "Josefin Sans", sans-serif;
}



