/* body{
    height: 9000px;
} */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: var(--mainfont);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secfont);
}

.header {
    padding: 37px 0;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    background-color: white;
}

.header .nav-home {
    color: var(--maincolor);
}

.header nav ul {
    display: flex;
    gap: 36px;
    font-family: "Lato", sans-serif;
    flex-wrap: wrap;


}

.header nav ul a {
    color: #0D0E43;
}

.header nav ul a {
    transition: color 1s;
}


.header nav ul i {
    font-size: smaller;

    color: var(--maincolor);
}

.header .search form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

.header .search form input {
    border: 0;
    padding: 0 30px;
}

.header .search form button {
    border: 0;
    padding: 9px 7px 5px 7px;
    background-color: var(--maincolor);
    cursor: pointer;
}

.header .search form {
    border: 1px solid #E7E6EF;

}

.menu {
    display: none;
}

@media screen and (max-width:1100px) {

    .header nav ul,
    .header .search form {
        display: none;

    }

    .menu {
        display: block;
        order: 1;
    }

}

@media screen and (max-width:600px) {
    .container {
        width: calc(100% - 70px);
    }

    /* .header .logo img {
        width: 70px;
    } */
}

@media screen and (max-width:600px) {
    .container {
        width: calc(100% - 30px);
    }
}

/* *{
    outline: auto;
} */
.hero {
    padding: 30px 0;
    background-color: #F2F0FF;
}

.hero .hero-content  {
    flex-grow: 1;
    max-width: 65%;
}

.hero .hero-image {
    width: 30%;
}


.hero .hero-content {
    display: flex;
}

.hero .hero-content .hero-text {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: self-start;
}

.hero .subtitle {
    font-weight: 700;
    font-size: 18px;
    color: var(--maincolor);
    width: fit-content;
}
*{
    /* outline: auto; */
}
.hero .title {
    font-size: 55px;
    font-weight: 370;
    line-height: 1.6;

}

.hero .hero-para {
    color: #8A8FB9;
}

.hero .hero-image img {
    width: 100%;

}


.hero .hero-content a {
    border: 1px solid var(--maincolor);
    width: fit-content;
    background-color: var(--maincolor);
    padding: 10px 24px 14px;
    color: white;
    border-radius: 5px;
}

.hero .hero-content .hero-lamp img {
    position: relative;
    bottom: 30px;
    animation: slideinfrombuttom 2s;
}

@keyframes slideinfrombuttom {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@media screen and (max-width:1320px) {
.hero .title {
    font-size: 45px;
    line-height: 1.2;

}
}
@media screen and (max-width:1220px) {
.hero .hero-content .hero-lamp {
    display: none;
}
}
@media screen and (max-width:1000px) {
 .hero .hero-content .hero-text {
    gap: 14px;
    width: 490px;
    
}
.hero .title {
    font-size: 35px;

}

}
@media screen and (max-width:900px) {
.hero .hero-content,
.hero .hero-image  {
    width: 100%;
}
.hero .hero-image img {
    width: 55%;

}
.hero .row{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

 .hero .hero-content .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.hero .hero-image{
    order: -1;
}

}




.Featured-Products {
    padding: 40px 0;
    font-family: "Josefin Sans", sans-serif;
}

.Featured-Products h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #1A0B5B;

    font-size: 30px;
}

.Featured-Products h3 {
    color: var(--maincolor);
}

.Featured-Products span {
    color: #151875;
}

.Featured-Products .row {
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.Featured-Products .product {
    width: calc((100% - 60px) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    gap: 15px;
    border-radius: 10px;
}


.Featured-Products .product .product-img {
    width: 100%;
    height: 280px;
    background-color: #F6F7FB;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.product .product-items i {
    font-size: 20px;
    color: #1DB4E7;
    cursor: pointer;
    transition: 0.3s;

}

.product .product-items {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 18px;
    left: 15px;
    display: none;
}

.product .view-details {
    background-color: #08D15F;
    color: #F6F7FB;
    padding: 12px 20px;
    font-size: 13px;
    border-radius: 4px;
    text-align: center;
    bottom: 10px;
    position: absolute;
    display: none;
}

.Featured-Products .product:hover .view-details,
.Featured-Products .product:hover .product-items {
    display: block;
}

.Featured-Products .product:hover {
    background-color: #2F1AC4;

}

.Featured-Products .product:hover .product-details span,
.Featured-Products .product:hover .product-details h3 {
    color: white;

}


.Featured-Products .product .product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
}


.btn-color {
    display: flex;
    gap: 5px;
}

.btn-color button {
    width: 18px;
    height: 5px;
    border: 0;
    border-radius: 4px;

}

.color-green {
    background-color: #05E6B7;
}

.color-pink {
    background-color: #F701A8;
}

.color-blue {
    background-color: #00009D;
}

.color-white {
    background-color: #FFEAC1;
}

@media screen and (max-width:1000px) {
    .Featured-Products .product {
        width: calc((100% - 60px) / 2);
    }
}

@media screen and (max-width:700px) {
    .Featured-Products .product {
        width: calc((100% - 60px) / 1);
    }

    .Featured-Products h2 {
        margin-bottom: 30px;
        font-size: 28px;
    }
}

@media screen and (max-width:500px) {
    .Featured-Products .product {
        width: 100%;
    }

    .Featured-Products h2 {
        margin-bottom: 25px;
        font-size: 25px;
    }
}

.Leatest-Products{
    padding: 40px 0;
}


.Leatest-Products h2{
    font-family: var(--secfont);
    font-weight: 700;
    font-size: 35px;
    color: #151875;
}

.Leatest-Products h2,
.Leatest-Products .list-product{
text-align: center;
margin-bottom: 30px;

}
.Leatest-Products .list-product ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    font-family: var(--mainfont);
    
}
.Leatest-Products .list-product ul li a{
    transition: all .5s;
}
.Leatest-Products .list-product ul li:hover a{
color: var(--maincolor);
text-decoration: underline;
}

.Leatest-Products .row{
    
    gap: 80px;
    justify-content: center;
    align-items: flex-start;
}

.Leatest-Products-item{
/* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08); */
width: calc((100% - 160px) / 3);
max-width: 350px;
text-align: center;
display: flex;
flex-direction: column;

padding: 30px 0 15px 0 ;
}

.Leatest-Products-item .product-item-image:hover .product-items-icons,
.Leatest-Products-item .product-item-image:hover .product-sale{
 
    display: block;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}



.Leatest-Products-item .product-item-image:hover{
    background-color: white;
}

.Leatest-Products-item .product-item-image{
    margin-bottom: 20px;
    background-color: #F7F7F7;
    position: relative;
    padding: 23px 0 15px 0;
     height: 300px;          
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
  
}
*{
    /* outline: auto; */
}
.Leatest-Products-item .product-item-image:hover .chair{
border: 2px solid black;
    padding: 12px;
    
}
.Leatest-Products-item .product-item-image .chair{
 width: 250px;   
 
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

}

.Leatest-Products-item .product-item-image .product-sale{
    position: absolute;
    display: none;
    top:26px;
    left: 20px;

}


.Leatest-Products-item .product-item-image .product-items-icons {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left:12px;
top: 50%;
color: #151875;
font-size: 16px;
    
    cursor: pointer;
    display: none;
}

.Leatest-Products-item .product-item-info{
    display: flex;
    justify-content: space-between;
    font-family: var(--secfont);
    color: #151875;
}
.Leatest-Products-item .product-item-info .product-price{
    display: flex;
    gap: 8px;
    
}
.Leatest-Products-item .product-item-info .product-price span:last-of-type{
    text-decoration: line-through;
    color: red;
    font-size: 14px;
    
}


@media screen and (max-width:1315px) {
    .Leatest-Products .row{
    
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}
.Leatest-Products-item{
/* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08); */
width: calc((100% - 40px) / 2);
max-width: 350px;

}

}
@media screen and (max-width:950px) {
.Leatest-Products-item{

width: 100%;

}


}
@media screen and (max-width:500px) {
    

    .Leatest-Products h2{
    
    font-size: 25px;
    
}
}
@media screen and (max-width:390px) {

.Leatest-Products-item .product-item-image{
    margin-bottom: 15px;
    
    padding: 23px 0 15px 0;
     height: 250px;          
     
  
}

}
@media screen and (max-width:360px) {


.Leatest-Products-item .product-item-image{
    width: 100%;
    padding: 23px 0 15px 0;
     height: 300px;          
     
  
}
.Leatest-Products-item .product-item-image .product-sale{
    width: 70px;

}
.Leatest-Products-item .product-item-image .product-items-icons {
    
    
    left:2px;


font-size: 12px;
}
}



.Leatest-Products-item .product-item-image:hover .chair{
border: 2px solid black;
    padding: 1px;
    
}

.Shopex-offers {
    padding: 40px 0;
    text-align: center;
}

.Shopex-offers h2 {
    margin-bottom: 35px;
    color: #151875;
    font-family: var(--secfont);
    font-weight: 700;
    font-size: 32px;
}

.Shopex-offers .row {
    gap: 30px;
}

.Shopex-offers .item-offer {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: calc((100% - 90px) / 4);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    padding: 40px 15px;
}


.Shopex-offers .item-offer .info-offer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Shopex-offers .item-offer h3 {
    color: #151875;
    font-family: var(--secfont);
    font-weight: 700;
}

.Shopex-offers .item-offer p {
    color: #8A8FB9;
    line-height: 40px;
    font-family: var(--mainfont);
}

@media screen and (max-width:1000px) {
    .Shopex-offers .item-offer {
        gap: 15px;
        width: calc((100% - 30px) / 2);
        padding: 30px 15px;
    }
}

@media screen and (max-width:700px) {
    .Shopex-offers .item-offer {
        gap: 15px;
        width: 100%;

        padding: 40 0px;

    }

    .Shopex-offers .row {
        gap: 20px;
    }

    .Shopex-offers h2 {
        margin-bottom: 30px;
        font-size: 28px;
    }

    @media screen and (max-width:500px) {


        .Shopex-offers h2 {
            margin-bottom: 20px;
            font-size: 25px;

        }
    }

}

.Trending-Products {
    padding: 40px 0px;
}

.Trending-Products h2 {
    text-align: center;
    color: #151875;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 35px;
}

.Trending-Products .element {
    padding: 30px 0;
    width: calc((100% - 120px) / 4);
    /* max-width: 280px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.Trending-Products .element .element-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Trending-Products .element .element-info .element-name p {
    color: #151875;
    font-family: var(--mainfont);
    font-weight: 700;
    font-size: 16px;
}

.Trending-Products .element .element-info .element-price {
    display: flex;
    gap: 15px;
    justify-content: center;
    font-family: var(--secfont);
    font-size: 14px;
}

.Trending-Products .element .element-info .element-price span:first-of-type {
    color: #151875;
}

.Trending-Products .element .element-info .element-price span:last-of-type {
    color: rgba(21, 24, 117, 0.3);
    text-decoration: line-through;
}

@media screen and (max-width:1380px) {
    .Trending-Products .element {
        padding: 20px 0;
        gap: 5px;
    }
}

@media screen and (max-width:1350px) {
    .Trending-Products .element {
        width: calc((100% - 36px) / 4);
    }

    .Trending-Products .row {
        justify-content: center;
        gap: 12px;
    }
}

@media screen and (max-width:1250px) {
    .Trending-Products .element {
        width: calc((100% - 12px) / 2);
        max-width: 360px;
    }

    .Trending-Products .row {
        justify-content: center;
        gap: 12px;
    }
}

@media screen and (max-width:700px) {
    .Trending-Products .element {
        width: 100%;
        max-width: 465px;
    }

    .Trending-Products h2 {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .Trending-Products .element img {
        width: 300px;
    }
}

@media screen and (max-width:400px) {

    .Trending-Products h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .Trending-Products .element img {
        width: 230px;
    }
}


.Top-Categories{
    padding: 40px 0 ;
}
.Top-Categories h2{
    margin-bottom: 35px;
    color: #151875;
    font-family: var(--secfont);
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}
.Top-Categories .row{
    gap: 10px;
    justify-content: center;
    
}

.Top-Categories .category{

 width: calc((100% - 60px) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); */
    gap: 15px;
    border-radius: 10px;
}

.Top-Categories .category .category-info{
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
}
.Top-Categories .category .category-image{
/* width: 100%;
    height: 280px; */
    width: 278px;
height: 277px;
    background-color: #F6F7FB;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .1s ;
    position: relative;
    
}

.Top-Categories .category .category-image a{
background-color: #08D15F;
    color: #F6F7FB;
    padding: 12px 20px;
    font-size: 13px;
    border-radius: 4px;
    text-align: center;
    bottom: 20px;
    position: absolute;
    display: none;
    font-family: var(--secfont);

}



.Top-Categories .category .category-image:hover{
    border: 300px solid transparent;
    border-left-color: #9877E7;
    border-bottom-color: #9877E7;
      border-width: 0 0 6px 6px; 
      
}

.Top-Categories .category .category-image:hover a{
        display: block;
      }
.Top-Categories .category .category-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: var(--secfont);
    color: #151875;
    font-size: 18px;
}


@media screen and (max-width:1350px) {
.Top-Categories .category .category-image{
    width: 248px;
height: 247px;
    
    
}
}
@media screen and (max-width:1250px) {
.Top-Categories .category{

 width: calc((100% - 40px) / 2);
    
}
.Top-Categories .category .category-image{

    width: 358px;
height: 357px;
    
    
}
}
@media screen and (max-width:990px) {
.Top-Categories .category .category-image{
    width: 318px;
height: 317px;
    
    
}
}
@media screen and (max-width:850px) {
.Top-Categories .category .category-image{
    width: 273px;
height: 272px;
    
    
}
}
@media screen and (max-width:750px) {
.Top-Categories .category .category-image{

    width: 243px;
height: 242px;
    
    
}
}
@media screen and (max-width:700px) {
.Top-Categories .category{

 width: 100%;
    
}
.Top-Categories .category .category-image{

    width: 403px;
height: 402px;
    
    
}
}
@media screen and (max-width:470px) {
.Top-Categories .category .category-image{

    width: 303px;
height: 302px;
    
    
}
.Top-Categories h2{
    
    
    font-size: 28px;
    
}
}


.Newslater {
    width: 100%;
    background-image: url(./../image/public/newlater.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* height: 300px; */
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.newsletter-banner .Newslater-Content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    align-items: center;
}

.newsletter-banner .Newslater-Content h2 {
    width: 400px;
    line-height: 32px;
    font-family: "Josefin Sans", sans-serif;
    color: #151875;
}

.newsletter-banner .Newslater-Content a {
    border: 1px solid var(--maincolor);
    width: fit-content;
    background-color: var(--maincolor);
    padding: 10px 24px 7px;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    border-radius: 5px;
}

@media screen and (max-width:650px) {
    .Newslater {
        height: 250px;
    }
}

@media screen and (max-width:500px) {
    .Newslater {
        height: 200px;
    }

    .newsletter-banner .Newslater-Content {
        gap: 13px;
    }
}

@media screen and (max-width:420px) {
    .Newslater {
        height: 170px;
    }

    .newsletter-banner .Newslater-Content h2 {
        width: 300px;
        line-height: 26px;
    }

    .newsletter-banner .Newslater-Content a {
        padding: 7px 18px 5px;
    }

}

.Leatest-Blog h2 {
    text-align: center;
    color: #151875;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 35px;

}

.Leatest-Blog {
    padding: 40px 0;
}

.Leatest-Blog .row {
    gap: 40px;
}

.Leatest-Blog .Blog-item {
    width: calc((100% - 80px) /3);
}

.Leatest-Blog .Blog-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding-bottom: 40px;

}

.Leatest-Blog .Blog-item:hover .Blog-content h3,
.Leatest-Blog .Blog-item:hover .Blog-content a {
    color: var(--maincolor);
}

.Leatest-Blog .Blog-item img {
    width: 100%;
    border-radius: 6px;
}

.Leatest-Blog .Blog-item .Blog-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;

}

.Leatest-Blog .Blog-item .Blog-content p {
    line-height: 30px;
    color: #72718F;
}

.Leatest-Blog .Blog-item .Blog-content .info {
    display: flex;
    gap: 30px;
}

.Leatest-Blog .Blog-item .Blog-content .info .pen {
    color: var(--maincolor);
}

.Leatest-Blog .Blog-item .Blog-content .info .calendar {
    color: #FFA454;
}

.Leatest-Blog .Blog-item .Blog-content h3,
.Leatest-Blog .Blog-item .Blog-content a,
.Leatest-Blog .Blog-item .Blog-content span {
    font-family: var(--secfont);
    color: #151875;

}

.Leatest-Blog .Blog-item .Blog-content a {
    text-decoration: underline;
    text-underline-offset: 3px;
}

@media screen and (max-width:1150px) {
    .Leatest-Blog .Blog-item .Blog-content .info {

        gap: 16px;
    }


}

@media screen and (max-width:1100px) {
    .Leatest-Blog .Blog-item .Blog-content .info {

        flex-direction: column;
        gap: 10px;
    }


}

@media screen and (max-width:1000px) {
    .Leatest-Blog .Blog-item {
        gap: 10px;
        padding-bottom: 20px;

    }

    .Leatest-Blog .Blog-item .Blog-content {
        gap: 10px;
        padding: 0 10px;

    }

    .Leatest-Blog .Blog-item .Blog-content p {
        line-height: 20px;

    }

    .Leatest-Blog h2 {
        font-weight: 700;
        font-size: 30px;
    }

    .Leatest-Blog .Blog-item .Blog-content h3 {
        font-size: 18px;
    }

}

@media screen and (max-width:900px) {

    .Leatest-Blog .Blog-item {
        width: calc((100% - 40px) /2);

    }

}

@media screen and (max-width:700px) {

    .Leatest-Blog .Blog-item {
        width: 100%;

    }

    .Leatest-Blog .Blog-item .Blog-content .info {
        flex-direction: row;
        gap: 25px;
    }

    .Leatest-Blog h2 {
        font-weight: 700;
        font-size: 26px;
    }
}

.footer-start {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    width: 450px;
}

.footer .search form {
    display: flex;
    flex-wrap: wrap;

}

.footer .search form input {
    border: 0;
    padding: 0 30px;
}

.footer .search form button {
    border: 0;
    padding: 9px 7px 5px 7px;
    background-color: var(--maincolor);

}

.footer .search form {
    border: 1px solid #E7E6EF;

}

.span-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    color: #8A8FB9;
    flex-wrap: wrap;
}

.footer .row {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    flex-wrap: wrap;
}

.footer-end {
    display: flex;
    gap: 90px;
    flex-wrap: wrap;

}

.footer .footer-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;


}

.footer nav ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex-wrap: wrap;

}

.footer nav ul li {
    color: #8A8FB9;
}

.footer {
    padding: 80px 0;
    background-color: #EEEFFB;
    font-family: "Josefin Sans", sans-serif;
}




@media screen and (max-width:950px) {

    .footer {
        padding: 40px 0;


    }

    .footer-end {

        gap: 40px;


    }
}

@media screen and (max-width:652px) {

    .footer-start,
    .footer-end {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .footer .footer-item {
        width: 100%;
    }


}

@media screen and (max-width:450px) {


    .footer .search form input {
        border: 0;
        padding: 0 15px;
    }

    .footer .search form button {
        border: 0;
        padding: 5px 4px 3px 4px;
        background-color: var(--maincolor);

    }
}